.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

.card:first-of-type{
    margin-left: 0;
}
.card{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.img-container{
    width: 300px;
    height: 300px;
}
h3{
    font-size: 1.8em;
}
.article-info{
    display: flex;
    flex-direction: column;
}
.article-info .meta-info{
    color: grey;
}
.article-info a{
    align-self: flex-end;
}
.article-info a:hover{
    color: red;
    transition: 0.2s;
}