.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

.card:first-of-type{
    margin-left: 0;
}
.card{
    width: 281px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 10px;
}

.img-container{
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 225px;
}
.img-container img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 100%;
}

.card-content{
    width: 100%;
    height: 124px;
    padding: 0 16px;
    background-color: #fff;
}

h3{
    padding-top: 17px;
    font-size: 20px;
}
.article-info{
    display: flex;
    flex-direction: column;
}
.article-info .meta-info{
    font-size: 13px;
    font-style: normal;
}

p{
    margin-top: 14px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 9px;
}
.article-info a{
    font-size: 11px;
    align-self: flex-end;
}
.article-info a:hover{
    color: #e93e33;
    transition: 0.2s;
}