<div class="about">
  <h1>ANGULAR BLOG</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
    <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
    
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
    <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
    <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nihil dolore necessitatibus odio cupiditate quibusdam harum impedit aperiam cumque ab esse, debitis doloribus corrupti, asperiores cum voluptas libero dignissimos culpa?
    <br>
    <br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatem, alias error deserunt nihil voluptatibus. Expedita fugit porro numquam temporibus voluptate adipisci quis voluptatem similique sit hic tempora, magni odio.
  </p>
</div>