.about{
    color: #fff;
    width: 837px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}
h1{
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: normal;
}
p{
    margin-bottom: 30px;
}