*{
    color: #ffffff;
}

/* common */
header{
    width: 100%;
    display: flex;
}

/* img */
.logo{
    display: flex;
}
.logo-img{
    width: 30px;
    height: 30px;
}
.logo-img img{
    width: 100%;
    height: 100%;
}

/* nav */
nav{
    display: flex;
}

/* btn */