header{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.header{
    display: flex;
    align-items: center;
    margin-left: 9.5%;
}
h1{
    font-size: 2em;
    padding: 7px;
}
h1 span{
    color: red
}



nav{
    margin-left: 50px;
}
nav a{
    font-size: 1.2em;
    margin-left: 15px;
}
nav a:first-of-type{
    margin-left: 0
}
nav a:hover{
    color: red;
    transition: 0.2s;
}

.separator{
    width: calc(100% - 20%);
    margin: 0 10%;
    height: 2px;
    border-radius: 15px;
    background-color: red;
}